:root {
    --cor-fundo: #E25B4E;
    --cor-principal: #533858;
    --cor-secundaria: #Linear;
    --cor-destaque: #2BDEFD;
    --cor-texto: #FFFF;
}
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    displey: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20%;
}
h1{
    color: var(--cor-destaque);
}
